data/*.csv
data/*.db
logs/*.log
png/*.png
reports/*.csv
models/*.pth
models/*.onnx
models/optuna/*
models/checkpoints/*
test_models/*
test_models/*/*

# IDEs
.idea/
.vscode/

# Compiled files
__pycache__/
src/__pycache__/
src/*.egg-info/
build/

# virtualenv
venv/

# Python packaging
.pypirc